@import url(https://fonts.googleapis.com/css?family=Teko);
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=RockSalt);
@import url(https://fonts.googleapis.com/css?family=Roboto);

html{
    height: 100%;
}

body{ 
    background-color: #282828;
    margin:0;
}

#main{
    display: grid;
    grid-template-areas:"head head head head head"
                        "banner banner banner banner farr"
                        "left1 left1 right1 right1 farr"
                        "foot foot foot foot foot";
} 

header{
    grid-area: head;
    background-color: #070707;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    height: 100px;
    width: 1820px;
    left: 0px;
    top: 0px;
}

#youtube{
    width: 60px;
    height: 60px;
    margin: 21px 0 19px 0;
    display: flex;
}

#snapchat{
    width: 60px;
    height: 60px;
    margin: 21px 12px 19px 13px;
    display: flex;
}

#twitter{
    height: 69px;
    width: 69px;
    margin: 16px 41px 15px 0;
    display: flex;
}

h1{
    color:#BB0908;
    font-family: 'Teko';
    font-weight: 400;
    font-size: 48px;
    margin: 35px 0 15px 30px;
}

#banner{
    grid-area: banner;
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 388px;
    margin-right: 20px;
    width: 1440px;
    display: flex;
}

#leftmod{
    grid-area: left1;
    background-color: #393939;
    display:flex;
    flex-direction: row;
    border-top: #BB0908 solid 5px;
    width: 700px;
    margin: 24px 20px 24px 20px;
}

#left2{
    grid-area: left1;
    display: flex;
    flex-direction: column;
    margin-left: 19px;
}

#left2 p{
    font-family: 'Poppins';
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    width: 349px;
    display: flex;
}

h2{
    font-family: 'Rock Salt';
    color: #FF1D29;
    font-weight: 400;
    margin: 8px 12px 7px 4px;
    border-bottom: solid 4px #BB0908;
    padding-bottom: 4px;
    font-size: 30px;
}

#poster{
    width: 310px;
    margin: 0 0 2px 2px;
    display: flex;
}

#price{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 349px;
    margin-bottom: 20px;
}
#purchase{
    grid-area: left1;
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    width: 191px;
    height:157px;
}

#price p:first-child{
    font-family: 'Poppins';
    color: #22C1CB;
    font-weight: 18px;
    text-decoration: underline;
    margin-bottom: 27px;
}

#price p:last-child{
    color: #FFFFFF;
    width: 191px;
    font-family: 'Teko';
    font-size: 82px;
    font-weight: 700;
    line-height:103.18px;
    text-decoration: underline 3px;
    text-underline-offset: .5rem;
    margin-top: 0;
    margin-bottom: 0;
}

#blueray{
    margin: 15px 22px 0 0;
    display: flex;
    width: 117px;
    height: 148px;
    left: 351px;
    top: 825px;
}

#rightmod{
    grid-area: right1;
    background-color: #393939;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    border-top: #BB0908 solid 5px;
    width: 700px;
    margin: 23px 20px 25px 0;
    display: flex;
}

#pennant{
    margin: 19px 35px 19px 24px;
    position: absolute;
    width: 641px;
    height: 229px;
    left: 764px;
    top: 530px;
}

#rightmod p{
    color: #FFFFFF;
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    display: inline;
    margin: 0 0 19px 24px;
}

#farright{
    grid-area:farr;
    background-color: #393939;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width:360px;
}
#sign{
    width: 325px;
    margin: 0 18px 0 17px;
}

#farrtext p{
    color:#FFFFFF;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 400;
    width: 275px;
    line-height: 21.09px;
    margin: 0 41px 24px 44px;
}

.color1{
    font-weight: 700;
    color:#FC0303;
}

.color2{
    font-weight: 700;
    color:#FF1D29;
}

#underwater{
    width: 325px;
    margin: 0 17px 28.48px 18px;
}

footer{
    grid-area:foot;
    background-color: #070707;
    position: absolute;
    width: 1820px;
    height: 60px;
    left: 0px;
    top: 1017px;
}

footer p{
    color: #BCBCBC;
    font-family: 'Teko';
    font-weight: 400;
    font-size: 12px;
    margin: 21px 0 22px 30px;
    width:200px;
    display: flex;
}
@media (max-width: 1920px) and (min-width:1000px){
   body{
        width: 100%;
   } 
   main{
        width: 100%;
   }
   header{
        width: 100%;
}

#youtube{
    width: 100%;
  
}

#snapchat{
    width: 100%;
    
}

#twitter{
 
    width: 100%;
}

h1{
    width: 100%;
    
}

#banner{
    width: 100%;
    
}

#leftmod{
    width: 100%;
    
}

#left2{

    width: 100%;
}

#left2 p{
 
    width: 100%;
}
h2{

    width: 100%;
}

#poster{

    width: 100%;
}

#price{

    width: 100%;
}
#purchase{

    width: 100%;
}

#price p:first-child{

    width: 100%;
}

#price p:last-child{
    width: 100%;
}

#blueray{
    width: 100%;
    
}

  

#rightmod{
    width: 100%;
    
}

#pennant{
    width: 100%;
   
}

#rightmod p{
    width: 100%;
    
}

#farright{
    width: 100%;
    
}
#sign{
    width: 100%;
    
}

#farrtext p{
    width: 100%;
}

.color1{
    width: 100%;
    
}

.color2{
    width: 100%;
}

#underwater{
    width: 100%;
    
}

footer{
    width: 100%;
    
}

footer p{
    width: 100%;
    
}

}

@media (max-width: 1000px) and (min-width:500px){
    body{
         font-size: 1em;
    } 
    main{
         width: 50%;
    }
    header{
         width: 50%;
 }
 
 #youtube{
     width: 50%;
   
 }
 
 #snapchat{
     width: 50%;
     
 }
 
 #twitter{
  
     width: 50%;
 }
 
 h1{
     width: 50%;
     
 }
 
 #banner{
     width: 50%;
     
 }
 
 #leftmod{
     width: 50%;
     
 }
 
 #left2{
 
     width: 50%;
 }
 
 #left2 p{
  
     width: 50%;
 }
 h2{
 
     width: 50%;
 }
 
 #poster{
 
     width: 50%;
 }
 
 #price{
 
     width: 50%;
 }
 #purchase{
 
     width: 50%;
 }
 
 #price p:first-child{
 
     width: 50%;
 }
 
 #price p:last-child{
     width: 50%;
 }
 
 #blueray{
     width: 50%;
     
 }
 
   
 
 #rightmod{
     width: 50%;
     
 }
 
 #pennant{
     width: 50%;
    
 }
 
 #rightmod p{
     width: 50%;
     
 }
 
 #farright{
     width: 50%;
     
 }
 #sign{
     width: 50%;
     
 }
 
 #farrtext p{
     width: 50%;
 }
 
 .color1{
     width: 50%;
     
 }
 
 .color2{
     width: 50%;
 }
 
 #underwater{
     width: 50%;
     
 }
 
 footer{
     width: 50%;
     
 }
 
 footer p{
     width: 50%;
     
 }
 
 }
 @media (max-width: 500px) and (min-width:0px){
    body{
         font-size: 1em;
    } 
    main{
         width: 25%;
    }
    header{
         width: 25%;
 }
 
 #youtube{
     width: 25%;
   
 }
 
 #snapchat{
     width: 25%;
     
 }
 
 #twitter{
  
     width: 25%;
 }
 
 h1{
     width: 25%;
     
 }
 
 #banner{
     width: 25%;
     
 }
 
 #leftmod{
     width: 25%;
     
 }
 
 #left2{
 
     width: 25%;
 }
 
 #left2 p{
  
     width: 25%;
 }
 h2{
 
     width: 25%;
 }
 
 #poster{
 
     width: 25%;
 }
 
 #price{
 
     width: 25%;
 }
 #purchase{
 
     width: 25%;
 }
 
 #price p:first-child{
 
     width: 25%;
 }
 
 #price p:last-child{
     width: 25%;
 }
 
 #blueray{
     width: 25%;
     
 }
 
   
 
 #rightmod{
     width: 25%;
     
 }
 
 #pennant{
     width: 25%;
    
 }
 
 #rightmod p{
     width: 25%;
     
 }
 
 #farright{
     width: 25%;
     
 }
 #sign{
     width: 25%;
     
 }
 
 #farrtext p{
     width: 25%;
 }
 
 .color1{
     width: 25%;
     
 }
 
 .color2{
     width: 25%;
 }
 
 #underwater{
     width: 25%;
     
 }
 
 footer{
     width: 25%;
     
 }
 
 footer p{
     width: 25%;
     
 }
 
 }