html, body{
    margin:0;
    height:100vh;
}
body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: red;
}
table{
    width:80%;
    border-collapse: collapse;
}
 td{
    border-bottom:1px solid black;
}
@media (max-width: 1920px) and (min-width:1000px) 
{
    h1{
        font-size:  1.5em;
    }
    body{
         background-color:blue;
         transition: all 1s;

    }
    main{
        width:100%;
    }
    thead > :last-child{
        display: none;
      }
    
}

@media (min-width:500px) and (max-width:1000px)
{
    body{
         background-color:orange;
         transition: all 1s;
    }
    h1{
        font-size: 1.5em;
    }
    main{
        width:100%;
    }
    div{
        display:none;
    }
    thead > :first-child{
        display: none;
      }
}

@media (max-width: 500px) and (min-width: 0px)
{
    body{
        background-color: green;
    }
    h1{
        font-size: 2em;
    }
    table > :first-child{
        display: none;
      }
}